.main-container {
    background-color: var(--jazz-green);
    padding: 0.5rem 1rem;
    .filter-section {
        // border: 1px solid blue;
        display: flex;
        mat-form-field {
            font-size: 1rem;
            font-weight: bold;
            label {
                font-weight: bold;
            }
            max-width: 15rem;
            margin-right: 1rem;
            input {
            }
            mat-autocomplete {
            }
        }
        .search {
            // border: 1px solid pink;
            align-items: center;
            // background-color: white;
            font-size: 1.5rem;
            display: flex;
            color: black;
            .play-filter {
                cursor: pointer;
            }
            .close-filter {
                cursor: pointer;
                margin-left: 1rem;
            }
            // display: flex;
            // gap: 1rem;
        }
    }
    .filter-result {
        // border: 1px solid white;
        padding: 1rem 0;
        display: flex;
        justify-content: space-between;
        .query-string_icon {
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            // flex-direction: column;
            // border: 1px solid red;
            .query-string {
                margin-right: 1rem;
            }
            .close-filter {
                cursor: pointer;
                margin-left: 1rem;
            }

            span {
                font-weight: bold;
            }
        }
        mat-icon {
            // border: 1px solid green;
        }
    }
}
