.main-container {
    background-color:lightblue;
    padding: 0 1rem;
    .filter-section {

        // border: 1px solid blue;
        mat-form-field {
            font-size: 1rem;
            font-weight: bold;
            label {
                font-weight: bold;
            }
            max-width: 15rem;
            margin-right: 1rem;
            input {
    
            }
            mat-autocomplete {
    
            }
        }
        .search {
            // border: 1px solid pink;
            background-color: white;
            font-size: 1.5rem;
            display: inline;
            color: black;
            // display: flex;
            // gap: 1rem;
        }
    }
    .filter-result {
        // border: 1px solid white;
        padding: 1rem 0;
        display: flex;
        justify-content: space-between;
        .query-string {
            display: flex;
            align-content: center;
            justify-content: center;
            flex-direction: column;
            // border: 1px solid red;
            
                span {
                    font-weight: bold;
                }
            
        }
        mat-icon {
            // border: 1px solid green;
        }
    }


}
