<div class="main-container" fxLayout>
    <mat-form-field>
        
        <input
            placeholder="filter"
            type="text"
            matInput
            [matAutocomplete]="auto"
            [formControl]="myControl">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (change)="onOptionChanged()">
                {{option}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <div class="buttons">
        <button
            class="search" 
            [disabled]="!myControl.value" 
            mat-raised-button 
            (click)="onSearch()">
            <mat-icon>search</mat-icon>
        </button>
        <button
            (click)="onCloseFilter()" 
            class="close" 
            mat-raised-button>
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>