<div class="main-container" fxLayout #mainContainer>
  <div *ngIf="!queryString" class="filter-section">

    <mat-form-field>
      <input
        placeholder="SEARCH"
        type="text"
        matInput
        [matAutocomplete]="auto"

        [formControl]="myControl">
      <mat-autocomplete #auto="matAutocomplete">

        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          <span (click)="onOptionSelected(option)">{{option}}</span>
        </mat-option>

      </mat-autocomplete>
    </mat-form-field>
    <div class="search">
      <mat-icon class="play-filter" invalid (click)="onSearch()" [inline]="true">play_arrow</mat-icon>
      <!-- <div class="close-filter" (click)="onCloseFilter()"> -->
      <!-- <button (click)="onCloseFilter()">close</button> -->
      <i class="fas fa-times close-filter" (click)="onCloseFilter()"></i>
      <!-- </div> -->

    </div>


  </div>
  <div *ngIf="queryString" class="filter-result">
    <div class="query-string_icon">
      <div class="query-string">
        Results for: <strong> {{queryString}}</strong>
      </div>
      <mat-icon class="icon" (click)="onNewFilter()">replay</mat-icon>
      <!-- <mat-icon mat-dialog-close (click)="onCloseFilter()">close</mat-icon> -->
      <i class="fas fa-times close-filter" (click)="onCloseFilter()"></i>
    </div>

  </div>

</div>
