mat-toolbar {
    // outline: 1px solid blue;
    justify-content: space-between;
    .toolbar-content-left {
        // display: flex;
        .home {
            mat-icon{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: .3rem;

            }
        }
        .menu {
            cursor: pointer;
        }
        mat-icon {
        }
    }

    .toolbar-content-right {
        display: flex;
        // gap: 1rem;
        .cd-container-container {
            display: flex;
            justify-content: center;
            align-items: center;
            .cd-container {
                width: 1.1rem;
                img {
                    width: 100%;
                }
            }
        }
        .filter_view-type {
            display: flex;
            border: 1px solid black;
            border-radius: .3rem;
            // gap: 1rem;
            .filter {
                margin-right: 1rem;
            }
            .filterActive {
                background-color: lightblue;
            }

            .view-type {
            }
        }

        .customer-name {
        }
        .cart-icon_cart-items {
            display: flex;
            .cart-icon {
            }
            .cart-items {
            }

            .logout {
            }
        }
    }
}

.link {
    // outline: 1px solid red;
    padding: 0 .5rem;
    margin: 0 .5rem;

}

.active-link {
    border: 1px solid black;
    border-radius: .3rem;
}

// mat-toolbar {
//     justify-content: space-between;
//     .toolbar-content-left {
//         width: 100%;
//         max-width: 400px;
//         display: flex;
//         justify-content: start;
//         gap: .7rem;
//         .menu {

//             cursor: pointer;
//             vertical-align: middle;
//             @media (min-width: 601px) {
//                 display: none;
//             }
//             mat-icon {
//                 font-size: 1.5rem;
//             }
//         }
//         .home {
//             text-transform: uppercase;
//             cursor:pointer;
//             padding: 0 0.3rem;
//             border-radius: .3rem;
//         }

//     }
//     .toolbar-content-right {
//         .cd-container-container {
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             .cd-container {
//                 width: 1.7rem;
//                 height: 1.7rem;
//                 img {
//                     width: 100%
//                 }
//             }
//         }
//         .filter_view-type {
//             gap: .5rem;
//             display: flex;
//             justify-content: space-between;
//             border: 1px solid black;
//             border-radius: .3rem;
//             width: 100%;
//             padding: 0 .3rem 0 0;
//             .filter {
//                 border-radius: .3rem 0 0 .3rem;
//                 padding: 0 0.6rem;
//                 color: black;
//                 cursor: pointer;
//                 vertical-align: middle;
//             }
//             .filterActive {
//                 background-color: lightblue;
//                 color: black;
//             }
//             .view-type {
//                 padding-right: .3rem;
//                 cursor: pointer;
//                 vertical-align: middle;
//             }
//         }
//         display: flex;
//         gap: 1rem;
//         .customer-name {
//             width: 1.7rem;
//             cursor: pointer;
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             padding: 0 0.3rem;
//             border-radius: .3rem;
//         }
//         .cart-icon_cart-items {
//             display: flex;
//             cursor: pointer;
//             vertical-align: middle;
//             padding: 0 0.3rem;
//             border-radius: .3rem;

//             .cart-icon {
//                 vertical-align: middle;
//                 margin-bottom: .3rem;
//             }
//             .cart-items {
//                 padding-left: .2rem;
//                 font-size: .9rem;
//             }
//         }
//         .logout {
//             margin-left: .5rem;
//             cursor: pointer;
//             vertical-align: middle;
//             mat-icon {
//                 font-size: 1.5rem;
//             }
//         }
//     }

// }

// .active-link {
//     border: 1px solid black;
// }
