mat-toolbar {
    // border: 1px solid red;
    gap: 1.5rem;

    .menu {
        // border: 1px solid blue;
        cursor: pointer;
        vertical-align: middle;
    }
    .cds {
        cursor: pointer;
    }
    .customer-name {
        // border: 1px solid brown;
        cursor: pointer;
        display: flex;
    }

    // border: 1px solid brown;
    cursor: pointer;
    display: flex;
    .cart-icon_cart-items {
        display: flex;
        // border: 1px solid blue;
        cursor: pointer;
        vertical-align: middle;

        .cart-icon {
            // vertical-align: middle;
            // border: 1px solid green;
        }
        .cart-items {
            // border: 1px solid blue;
        }
    }

    .search {
        // border: 1px solid blue;
        cursor: pointer;
        vertical-align: middle;
    }
    .logout {
        // border: 1px solid blue;
        cursor: pointer;
        vertical-align: middle;
    }
}
