.form-container {
    max-width: 25rem;
    padding: 1rem;
    border: 1px solid black;
    .form-header {
        font-weight: bold;
    }
    form {
        * {
            display: block;
        }
    }
}
