mat-sidenav-container {
    mat-sidenav {

    }
    mat-sidenav-content {
        
        header {
            position: fixed;
            width: 100%;
            z-index:100;
        }
        .filler {
            height: 56px;
            background-color: red;
        }
        main {
            router-outlet {

            }
        }
    }
}



@media (min-width: 600px) {
    mat-sidenav-container {
        mat-sidenav {
    
        }
        mat-sidenav-content {
            .filler {
                height: 64px;
                background-color: red;
            }
            
        }
    }
}



