<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
      <sidenav (closeSidenav)="sidenav.close()"></sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
      <header
        (sidenavToggle)="sidenav.toggle()"
        (toggleFilter)="toggleFilter()"></header>
      <div class="filler"></div>
      <main>
        <filter *ngIf="showFilter" (closeFilter)="toggleFilter()"></filter>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content> 
  </mat-sidenav-container>


