<div class="page-container">
  <div class="main">
    <div class="header">jazzengel shop</div>
    <img src="'./../../../../assets/IMG_4839.jpg" alt="">
    
    <div class="content">
      <p>
        Het kan niet iedere dag zondag zijn. Gelukkig is er nu een webshop met CD's, gemaakt door mensen die ten minste één keer op zondagmiddag in de Café de Engelbewaarder opgetreden hebben.
      </p>
      <p>
        De bestelde CD's kunnen op opgestuurd of op zondagmiddag worden opgehaald.
      </p>
    </div>
  </div>
</div>
