.page-container {
    display: flex;
    justify-content: center;
    background-color: var(--jazz-black);
    .customer-container {
        min-width: 310px;
        max-width: 500px;
        padding: 1rem;
        letter-spacing: 1.5px;
        background-color: var(--jazz-green);
        .customer-header {
            font-size: 1.5rem;
            padding-bottom: 1rem;
        }
        .customer-info {
            background-color: var(--jazz-white);
            padding: 1rem;
            .full-name {
                display: flex;
                gap: 0.5rem;
                .first-name {
                    text-transform: capitalize;
                }
                .last-name {
                    text-transform: capitalize;
                }
            }
            .email {
            }
            .address {
                display: flex;
                gap: 0.5rem;
                .street {
                }
                .house-number {
                }
                .addition {
                }
            }
            .zip-code_city {
                display: flex;
                gap: 0.5rem;
                .zip-code {
                }
                .city {
                }
            }
            .country {
            }
            .update-customer {
                border: 1px solid black;
                background-color: var(--jazz-black);
                color: var(--jazz-orange);
                font-weight: bold;
            }
        }
        .orders-container {
            .order-header {
                font-size: 1.5rem;
                padding-top: 1rem;
            }
        }
        .orders {
            list-style: none;
            padding: 0;
            .order {
                border: 3px solid var(--jazz-black);
                background-color: var(--jazz-white);
                padding: 0.5rem;
                margin-bottom: 0.3rem;
                .date-ordered {
                    font-weight: bold;
                }
                .purchase-session-id {
                }
                .cds {
                    list-style: none;
                    padding: 0;
                    .cd {
                        .band-name_title_info {
                            // display: flex;
                            // align-items: center;
                            // gap: 1rem;
                            .band-name {
                            }
                            .title_info {
                                display: flex;
                                // justify-content: center;
                                align-items: center;
                                justify-content: space-between;
                                .title {
                                    background-color: var(--jazz-white);
                                    border: 2px solid var(--jazz-green);
                                    font-style: italic;
                                    margin-left: 1rem;
                                    padding: 0 0.2rem;
                                    border-radius: 0.2rem;
                                    // display: flex;
                                }
                                .info {
                                    cursor: pointer;
                                }
                            }
                        }
                        .quantity_price_sub-total {
                            // display: flex;

                            .price {
                                width: 100%;
                                display: flex;
                                justify-content: space-between;
                                // margin-right: 1rem;
                            }
                            .ordered-amount {
                                width: 100%;
                                display: flex;
                                justify-content: space-between;
                            }
                            .subtotal {
                                width: 100%;
                                display: flex;
                                justify-content: space-between;
                            }
                        }
                    }
                    .shipping-costs {
                        // border: 1px solid red;
                        display: flex;
                        justify-content: space-between;
                    }
                }
                .total {
                    font-weight: bold;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
}
