<div class="main-container">
  <div class="cd">
    <div class="cd-info">
      <div class="header">cd info</div>
      <button
        class="add-cd-info-button"
        *ngIf="!cd"
        (click)="onAddCdInfo()">add cd info</button>
      <div class="cdId" *ngIf="cdId">{{cdId}}</div>
      <div *ngIf="cd" class="image-container">
        <img class="cd-cover" [src]="cd.cdInfo.imageUrl" alt="">
      </div>
      <div class="title">Title: <span *ngIf="cd">{{cd.cdInfo.title}}</span></div>
      <div class="band-name">Band: <span *ngIf="cd">{{cd.cdInfo.bandName}}</span></div>
      <div class="recording-studio">Recording Studio: <span *ngIf="cd">{{cd.cdInfo.recordingStudio}}</span></div>
      <div class="recording-engineer">Recording Engineer: <span *ngIf="cd">{{cd.cdInfo.recordingEngineer}}</span></div>
      <div class="mixer">Mixed by: <span *ngIf="cd">{{cd.cdInfo.mixer}}</span></div>
      <div class="producer">Producer: <span *ngIf="cd">{{cd.cdInfo.producer}}</span></div>
      <div class="publisher">Publisher: <span *ngIf="cd">{{cd.cdInfo.publisher}}</span></div>
      <div class="recordingDate">Recording date: <span *ngIf="cd">{{cd.cdInfo.recordingDate | date}}</span></div>
      <div class="price">Price: <span *ngIf="cd">{{cd.cdInfo.price|currency:"EUR"}}</span></div>
      <button class="edit-cd-info" *ngIf="!oneFormOpened"
        (click)="onEditCdInfo(cdInfo)">{{editMode ? 'edit cd info': 'add cd info' }}</button>

    </div>

    <div class="tracks">
      <div class="header">tracks</div>
      <ul *ngIf="cd">
        <li *ngFor="let track of cd.tracks; let i = index">
          <div class="number_title">
            <div class="number">{{track.number}}</div>
            <div class="title">Title: {{track.title}}</div>
          </div>
          <div class="composer_lyricist">
            <div class="composer">Comp.:{{track.composer}}</div>
            <div class="lyricist">Lyr.: {{track.lyricist}}</div>
          </div>
          <div class="duration">Duration:
            <div class="minutes">{{track.minutes}}</div>
            <span>:</span>
            <div class="seconds">{{track.seconds}}</div>
          </div>
          <div *ngIf="!oneFormOpened" class="edit_delete">
            <button class="edit-track" (click)="onEditTrack(i)">edit track</button>
            <button class="delete-track" (click)="onDeleteTrack(i)">delete track</button>
          </div>
        </li>
      </ul>
      <button *ngIf="!oneFormOpened" (click)="onAddTrack()">add track</button>
    </div>

    <div class="musicians">
      <hr>
      <div class="header">musicians</div>
      <ul class="musicians-list" *ngIf="cd">
        <li class="musicians-list-item" *ngFor="let musician of cd.musicians; let i = index">
          <div class="icons" *ngIf="!oneFormOpened">
            <button class="musicians-delete" (click)="onDeleteMusician(i)">delete musician</button>
            <button class="musicians-edit" (click)="onEditMusician(i)">edit musician</button>
          </div>
          <div class="name">Name: {{musician.name}}</div>
          <ul class="instrument-list">
            Instr:
            <li class="instrument-list-item" *ngFor="let instrument of musician.instruments">
              {{instrument}}
            </li>
          </ul>
          <hr>
        </li>
      </ul>
      <button *ngIf="!oneFormOpened" (click)="onAddMusician()">add musician</button>
    </div>

    <div class="reviews">
      <div class="header">reviews</div>
      <ul class="reviews-list" *ngIf="cd">
        <li class="review" *ngFor="let review of cd.reviews; let i = index">
          <div class="source_date">
            <div class="source">{{review.source}}</div>
            <div class="date">{{review.date|date}}</div>
          </div>
          <div class="content">{{review.content}}</div>
          <div class="author">{{review.author}}</div>
          <button (click)="onDeleteReview(i)">delete review</button>
          <button (click)="onEditReview(i)">edit review</button>
          <hr>
        </li>
      </ul>
      <button (click)="onAddReview()">add review</button>
    </div>

    <div class="final-buttons" *ngIf="!oneFormOpened">

      <button
        mat-raised-button
        class="add-cd-to-db-button"
        (click)="onAddCdToDb()">
        {{editMode ? 'save edits' : 'add cd'}}
      </button>
      <button
        mat-raised-button
        class="add-cd-to-db-button"
        (click)="onCancelAddCdToDb()">
        cancel
      </button>
    </div>
  </div>

  <div class="forms">
    <add-cd-info
      [importCdFromParent]="exportCdToChild"
      (exportToParent)="importCdInfoFromChild($event)"
      (closeForms)="closeFormsInParent()"
      *ngIf="addingInfo"></add-cd-info>
    <add-tracks
      [importCdFromParent]="exportCdToChild"
      [importCdAndIndexFromParent]="exportCdToChildWithIndex"
      (closeForms)="closeFormsInParent()"
      *ngIf="addingTrack"></add-tracks>
    <!-- <add-tracks [exportTrackIndex]="importTrackIndex" *ngIf="addingTrack"></add-tracks> -->
    <add-musician
      [importCdFromParent]="exportCdToChild"
      [importCdAndIndexFromParent]="exportCdToChildWithIndex"
      (closeForms)="closeFormsInParent()"
      *ngIf="addingMusician">
    </add-musician>
    <add-review
      [importedCdFromParent]="exportCdToChild"
      [importCdAndIndexFromParent]="exportCdToChildWithIndex"
      (closeForms)="closeFormsInParent()"
      *ngIf="addingReview">
    </add-review>
  </div>
</div>
