<div class="page-container" mat-dialog-close>
  <p>
    This is an app in <strong>TEST MODE</strong>.
  </p>
  <p>
    You can order anything by using credicard nummber:
  </p>
  
  <h3>4242 4242 4242 4242</h3>
  
  <h3>MM/YY : 3/33</h3>
  <h3>CVC: 333</h3>
  
  <p>
  
    Use any name you want.
  </p>
  <p>
    There will be no money transferred.
  </p>
  <p>
    You will have to create a customer account.
  </p>
  <p>
    At the end of this test period, the fake oreders will be removed from the account the account will be deleted.
  </p>
  <p>
    IDEAL doesn't work in test-mode.
  </p>
  <div class="close">
    <mat-icon >close</mat-icon>
  </div>
</div>